.bike {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bike img {
  object-fit: cover;
  height: 70vh;
}

.bike button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border: 1px solid black;
  border-radius: 20px;
}

.parts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar {
  width: 200px;
  background-color: #f2f2f2;
  padding: 20px;
}

.products {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.product {
  width: 200px;
  border: 1px solid #ccc;
  padding: 15px;
  height: 300px;
  border: 2px solid grey;
  margin: 10px 0;
}
.product > img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.btn {
  width: 40vw;
  position: relative;
  top: 100px;
  left: 600px;
}
.btn > button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 15px;
}
.drag__image {
  width: 100%;
  height: 80vh;
  margin: 20px;
}
.drag__image > .drag__item > img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}
.drag {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  height: 100vh;
}
.drag__space {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  text-align: center;
  color: gray;
  font-weight: bold;
}

.finish {
  position: relative;
  right: -650px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 15px;
}

.final_container {
  display: flex;

  flex-wrap: wrap;
  justify-content:center;
}

.final {
  margin: 10px;
  min-width:200px;
}

.final > img {
  width: 300px;
  height: 300px;
}

.home_page{
  display: block;
  margin: auto;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 15px;
}
